@tailwind base;
@tailwind components;
@tailwind utilities;
:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  background-color: gray;
  color: white;
}
.sprite-container {
  image-rendering: pixelated;
  image-rendering: crisp-edges;
}